/**
* 1. Correct the line height in all browsers.
* 2. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

/* Sections
    ========================================================================== */

/**
* Remove the margin in all browsers.
*/

body {
    margin: 0;
    font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
}

/**
* Render the `main` element consistently in IE.
*/

main {
    display: block;
}

/**
* Correct the font size and margin on `h1` elements within `section` and
* `article` contexts in Chrome, Firefox, and Safari.
*/

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/* Grouping content
    ========================================================================== */

/**
* 1. Add the correct box sizing in Firefox.
* 2. Show the overflow in Edge and IE.
*/

hr {
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/

pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/* Text-level semantics
    ========================================================================== */

/**
* Remove the gray background on active links in IE 10.
*/

a {
    background-color: transparent;
}

/**
* 1. Remove the bottom border in Chrome 57-
* 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
*/

abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
    /* 2 */
}

/**
* Add the correct font weight in Chrome, Edge, and Safari.
*/

b, strong {
    font-weight: bolder;
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/

code, kbd, samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/**
* Add the correct font size in all browsers.
*/

small {
    font-size: 80%;
}

/**
* Prevent `sub` and `sup` elements from affecting the line height in
* all browsers.
*/

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Embedded content
    ========================================================================== */

/**
* Remove the border on images inside links in IE 10.
*/

img {
    border-style: none;
}

/* Forms
    ========================================================================== */

/**
* 1. Change the font styles in all browsers.
* 2. Remove the margin in Firefox and Safari.
*/

button, input, optgroup, select, textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}

/**
* Show the overflow in IE.
* 1. Show the overflow in Edge.
*/

button, input {
    /* 1 */
    overflow: visible;
}

/**
* Remove the inheritance of text transform in Edge, Firefox, and IE.
* 1. Remove the inheritance of text transform in Firefox.
*/

button, select {
    /* 1 */
    text-transform: none;
}

/**
* Correct the inability to style clickable types in iOS and Safari.
*/

button, [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}

/**
* Remove the inner border and padding in Firefox.
*/

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
* Restore the focus styles unset by the previous rule.
*/

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
* Correct the padding in Firefox.
*/

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/**
* 1. Correct the text wrapping in Edge and IE.
* 2. Correct the color inheritance from `fieldset` elements in IE.
* 3. Remove the padding so developers are not caught out when they zero out
*    `fieldset` elements in all browsers.
*/

legend {
    box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
}

/**
* Add the correct vertical alignment in Chrome, Firefox, and Opera.
*/

progress {
    vertical-align: baseline;
}

/**
* Remove the default vertical scrollbar in IE 10+.
*/

textarea {
    overflow: auto;
}

/**
* 1. Add the correct box sizing in IE 10.
* 2. Remove the padding in IE 10.
*/

[type="checkbox"], [type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

/**
* Correct the cursor style of increment and decrement buttons in Chrome.
*/

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
* 1. Correct the odd appearance in Chrome and Safari.
* 2. Correct the outline style in Safari.
*/

[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}

/**
* Remove the inner padding in Chrome and Safari on macOS.
*/

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
* 1. Correct the inability to style clickable types in iOS and Safari.
* 2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}

/* Interactive
    ========================================================================== */

/*
* Add the correct display in Edge, IE 10+, and Firefox.
*/

details {
    display: block;
}

/*
* Add the correct display in all browsers.
*/

summary {
    display: list-item;
}

/**
* Add the correct display in IE 10+.
*/

template {
    display: none;
}

/**
* Add the correct display in IE 10.
*/

[hidden] {
    display: none;
}

/**
* Correct headings
*/

h1, h2 {
    margin: 0 !important;
}

h1:before, h2:before {
    background-color: rgba(0, 0, 0, 0) !important;
    content: "";
    margin: 0 !important;
    height: 0 !important;
    width: 0 !important;
}

.navigation {
    position: fixed;
    width: 100%;
    z-index: 9999;
    padding: 0;
    display: flex;
    box-shadow: 0 0 30px rgba(7, 51, 84, 0.17);
    -webkit-transition: 100ms;
    transition: 100ms;
}

.navigation-top {
    background-color: white;
    height: 60px;
}

.navbar_wrapper {
    width: 100%;
    background-color: #fff;
    z-index: 999;
    padding: 0;
    height: 100%;
    flex-wrap: wrap;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: #008768;
    border-radius: 2px;
    margin: 3px 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.navigation-scroll .bar1, .navigation-scroll .bar2, .navigation-scroll .bar3 {
    background-color: #fff;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-4px, 4px);
    transform: rotate(-45deg) translate(-4px, 4px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-4px, -4px);
    transform: rotate(45deg) translate(-4px, -4px);
}

.navbar_links_d {
    display: none;
}

.navbar_links_m {
    width: 100vw;
    z-index: 998;
    background-color: #fff;
    box-shadow: 0 0 30px rgba(7, 51, 84, 0.17);
}

.navbar_open {
    margin-top: 0;
    -webkit-transition: margin 500ms;
    transition: margin 500ms;
}

.navbar_closed {
    margin-top: -100vh;
    -webkit-transition: margin 500ms;
    transition: margin 500ms;
}

.nav-logo {
    width: 200px;
    height: 40px;
    margin-left: 15px;
}

.navbar_links_m .nav-link {
    text-align: center;
    width: 100%;
}

.navbar_links_m hr {
    height: 1px;
    margin: 0;
    background-color: #fff;
}

.navigation-top .nav-logo {
    background: center no-repeat;
    position: relative;
    overflow: hidden;
    background-image: url('../images/logo_g.png');
    background-image: linear-gradient(transparent, transparent), url('../images/HorizontalLogo.svg');
}

.navigation-scroll .nav-logo {
    background: url('../images/HorizontalLogo-w.png') center no-repeat;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(transparent, transparent), url('../images/HorizontalLogo-w.svg');
    background-size: 227px;
}

.nav-logo:hover:before {
    content: "";
    z-index: 9999999;
    position: absolute;
    height: 100%;
    width: 200%;
    background: linear-gradient(transparent 0%, rgba(227, 196, 104, 0.2) 45%, rgba(227, 196, 104, 0.5) 50%, rgba(227, 196, 104, 0.2) 55%, transparent 100%);
    transition: all 2s;
    transform: rotate(-45deg);
    animation: shine 6s infinite forwards;
  }

@keyframes shine {
    0% {
        top: -120%;
        left: -120%;
    }
    20% {
        left: 100%;
        top: 100%;
    }
    40% {
        left: 100%;
        top: 100%;
    }
    100% {
        left: 100%;
        top: 100%;
    }
}

.navbar-nav {
    margin-top: 3px;
    margin-right: 25px;
}

.navbar-toggle {
    position: absolute;
    right: 0;
    top: 0;
    height: 60px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: transparent;
}

.navbar-toggle:hover {
    background-color: transparent;
}

.nav-link {
    font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.navigation-top .nav-link {
    color: rgb(32, 41, 47);
}

.navbar_links_m .nav-link {
    color: #000;
    text-align: left;
    padding: 11px 5vw;
    line-height: 1em;
    font-size: 18px;
    font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
}

.navigation-scroll .nav-link {
    color: #fff;
}

a.button-get-started:hover {
    cursor: pointer;
    box-shadow: inset 0px 0px 15px #00000045;
}

a.button-get-started:link, a.button-get-started:visited {
    font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
    text-decoration: none;
}

.navigation-top .button-get-started {
    background: #008768;
    color: #fff;
    -webkit-transition: height 1s;
    transition: height 1s;
}

.navigation-scroll .button-get-started {
    background-color: #fff;
    color: #008768;
    font-weight: 600;
    height: 40px;
    padding-top: 5px;
    font-size: 18px;
}

.sub-menu {
    display: block;
    z-index: 99999;
    list-style-type: none;
    padding-left: 20px;
}

.sub-menu-f {
    list-style-type: none;
    padding-left: 20px;
}

.sub-menu .nav-link {
    font-size: 16px;
    line-height: 1em;
}

.button-get-started {
    font-family: 'Roboto';
    color: #1a1c19;
    border-radius: 30px;
    text-align: center;
    padding: 2px 20px;
}

.mobile-apply {
    display: block;
    font-family: 'Roboto';
    color: #1a1c19;
    border-radius: 30px;
    width: 80%;
    margin: 15px auto;
    text-align: center;
    padding: 2px 20px;
    background-color: rgba(255, 255, 255, 0.64);
    border: 2px solid #fff;
}

a.mobile-apply:link, a.mobile-apply:visited {
    color: #1a1c19;
}

a.drk-b:link, a.drk-b:visited {
    color: #fff;
}

.drk-b {
    background-color: #2395ff;
    color: #fff;
    border: none;
}

.nav-link {
    color: rgba(0, 0, 0, 0.9);
}

.phone-nav {
    color: #fff !important;
    margin: 0;
    font-weight: bold;
    font-size: 22px;
    float: right;
    font-family: 'Roboto', Helvetica, Arial, Lucida, sans-serif;
    width: 100%;
    text-align: center;
    padding: 15px;
    background-color: #008768;
    box-shadow: inset 0px 0px 6px #000;
}


.navigation-scroll .phone-nav {
    color: #fff !important;
    margin-top: 8px;
    font-size: 20px;
}

.highlight-container, .highlight {
    position: relative;
}

.highlight-container {
    display: inline-block;
}

.highlight-container:before, .highlight-container:after {
    content: " ";
    display: block;
    height: 65%;
    width: 100%;
    margin-left: -3px;
    margin-right: -3px;
    position: absolute;
}

.highlight-container:after {
    background: rgba(255, 205, 100, 0.6);
    top: 15px;
    right: -3px;
}

.highlight-container .highlight {
    color: #333;
    z-index: 4;
}

.left {
    width: 100%;
    float: left;
}

.right {
    width: 100%;
}

.after_tick {
    width: 100px;
    height: 4px;
    background-color: rgb(0, 135, 104);
    margin-bottom: 20px;
}

/**
*   Below the fold  
*/

.footer {
    background-color: #eee;
    padding: 25px;
    width: 100%;
}

.footer .site-info {
    margin: 0 !important;
}

.footer-info {
    width: 80%;
    margin: 0 auto;
}

.footer-info p {
    margin-top: 5px;
    margin-bottom: 0px;
}

.footer-share {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 25px;
}

.footer_bottom {
    clear: both;
    margin-top: 10px;
    display: block;
    padding-top: 25px;
}

.footer_join_form input[type="text"] {
    width: 60%;
}

.copyright {
    color: rgb(118, 118, 118);
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 18px;
    float: left;
    text-align: center;
    line-height: 1.4em;
}

.terms-privacy {
    margin: 0;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    text-align: center;
}

.terms-privacy {
    color: rgb(118, 118, 118)
}

.terms-privacy a:link, .terms-privacy a:visited {
    color: rgb(118, 118, 118);
}

.terms-privacy a:hover {
    color: #767676;
    cursor: pointer;
}

.footer-menu {
    padding: 0;
}

.footer-menu, .footer-menu .sub-menu {
    list-style-type: none;
}

.footer-share i {
    margin: 0 10px;
}

.superscript {
    color: gray;
    font-size: 12px;
    font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
    text-align: justify;
    padding: 10px 5px 0px;
}

.accent {
    float: left;
    text-align: left;
    color: #008768;
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
    font-family: "Pippins";
}

.lock_icon {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAASCAYAAABrXO8xAAAAyUlEQVR42p2STwqCQBTGh2ZTnqHu4QE6QBdw0x08gHOOau0JgtZeo022EtyFoFHWN/EJj5ixxgc/kO/PKM9RSkzT3jXYggLcSEFNK9fAiMAJvDxYL3IV9yKUgw3JhX74Lq3Ak6ZxHGro2cxSGgmNzvU50Bb0bCaRRkqxVJ6Bd2EmHYQY7ChWYO2hYsZmY1vsRzbpo1cTSh/GimcSVDzyFmk+/13MxDazkGIN5qQOKTbijU1IsQQzcg3d6s/f8ZhQ7Iab3waUbNa8ATrXIgIMocvCAAAAAElFTkSuQmCC") no-repeat 0 0;
    width: 14px;
    height: 18px;
    display: inline-flex;
}

.apply-now-mobile {
    width: 123px;
    margin-right: 50px;
    font-size: 14px;
    font-weight: bold;
}

.green_button {
    width: 100%;
    background-color: #008768 !important;
}

.blue_button {
    width: 100%;
    background-color: #001B46 !important;
}

.green-text {
    color: #008768;
}

.bold {
    font-weight: bold;
}

.black_overlay {
    background: linear-gradient(180deg, #272d37 0%, rgba(39, 45, 55, 0.85) 100%);
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer-input {
    background: #F7F7F7 !important;
    border: 1px solid #E3E3E3 !important;
    box-sizing: border-box !important;
    border-radius: 5px !important;
    font-size: 16px;
    font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
}

.footer_submit {
    width: 35% !important;
}

.green_text {
    color: #008768;
}

.text_center {
    text-align: center;
}

@media only screen and (min-width: 992px) {
    .navbar-header {
        float: none;
    }
    .left {
        width: 50%;
    }
    .right {
        width: 50%;
        float: right;
    }
    .navbar-expand-lg {
        -ms-flex-pack: space-between;
        justify-content: space-between;
    }
    .navigation {
        padding: 0 40px;
    }
    .navigation-top {
        height: 80px;
    }
    .navigation-scroll {
        background-color: #008768;
        height: 54px;
    }
    .navbar_wrapper {
        background: transparent;
    }
    @supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
        .navigation-scroll {
            background-color: rgba(0, 135, 104, 0.835);
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
        }
    }
    @media only screen and (max-width: 1294px) {
        .nav-link {
            font-size: 18px;
        }
    }
    .nav-logo {
        width: 280px;
        margin-left: 0;
        margin-right: 0;
        -webkit-transition: 100ms;
        transition: 100ms all;
    }
    .navbar_links_d {
        border-radius: 10px;
        display: block;
    }
    .menu-main-menu-container {
        float: right;
    }
    .navigation-top .button-get-started {
        margin-top: 3px;
    }
    .button-get-started {
        float: right;
    }
    .navigation-scroll .button-get-started {
        margin-top: 6px;
    }
    .navbar-nav {
        margin-right: 10px;
    }
    .navbar_links_m {
        display: none;
    }
    .navbar-toggle {
        display: none;
    }
    .sub-menu {
        display: none;
        position: absolute;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        border-radius: 15px;
        padding: 15px 0;
        margin: unset;
    }
    .sub-menu:before {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        left: 15px;
        margin-top: -25px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
    }
    .sub-menu li {
        padding: 0 15px;
    }
    .sub-menu .nav-link {
        font-family: 'Roboto', Helvetica, Arial, Lucida, sans-serif;
    }
    .menu-item:hover .sub-menu {
        display: block;
    }
    .navigation-top .sub-menu {
        background-color: #008768;
    }
    .navigation-top .sub-menu:before {
        border-bottom: 10px solid #008768;
    }
    .navigation-top .sub-menu .nav-link {
        color: #fff;
    }
    .navigation-top .sub-menu li:hover {
        background-color: #00674f;
    }
    .navigation-scroll .sub-menu {
        background-color: #fff;
    }
    .navigation-scroll .sub-menu .nav-link {
        color: rgb(32, 41, 47);
    }
    .navigation-scroll .sub-menu:before {
        border-bottom: 10px solid #fff;
    }
    .navigation-scroll .sub-menu li:hover {
        background-color: #eee;
    }
    @media only screen and (max-width: 1186px) {
        .navbar-nav {
            margin-left: 3px;
            font-size: 16px;
        }
    }
    .phone-nav {
        color: #008768 !important;
        margin: 5px 18px 0px 0px;
        width: unset;
        background-color: unset;
        box-shadow: unset;
        text-align: unset;
        padding: unset;
    }
    .navbar_m_apply {
        display: none;
    }
    /**
    * Below The Fold
    */
    .footer-nav {
        margin-left: 25px;
    }
    .footer_bottom {
        padding-top: 25px;
    }
    .footer-share {
        float: right;
        width: unset;
        margin-top: 0;
        text-align: right;
    }
    .footer-info {
        width: 250px;
        float: left;
        margin: 0;
    }
    .footer-info .footer-head {
        margin-bottom: 15px;
        margin-top: 0;
    }
    .copyright {
        float: left;
        text-align: left;
    }
    .terms-privacy {
        text-align: right;
    }
}

@media only screen and (min-width: 365px) and (max-width: 394px) {
    .navigation-top .nav-logo, .navigation-scroll .nav-logo {
        background-size: 170px;
        max-width: 170px;
    }
}

@media only screen and (max-width: 364px) {
    .navigation-top .nav-logo, .navigation-scroll .nav-logo {
        background-size: 150px;
        max-width: 150px;
        margin-left: 5px;
    }
    .apply-now-mobile {
        width: 110px;
        font-size: 12px;
        font-weight: bold;
    }
}